.terrence-image {
	width: 900px;
	height: 400px;
	border-radius: 10px;
	border: darkgray;
}

.inlineText, p {
	display: inline;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	color: coral;
	font-family: 'Titillium Web', sans-serif;
}

h5 {
	font-family: 'Titillium Web', sans-serif;
}

.soundcloud-image {
	height: 600px;
	width: 900px;
}

h3 {
	font-family: 'Titillium Web', sans-serif;
}



